[Unit]
Description=NEAR Warchest bot
Wants=network-online.target
After=network-online.target

[Service]
User=root
Group=root
Type=simple
ExecStart=/usr/bin/python3 absolute_path_to/near-warchest-bot/warchest.py
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
